body {
    margin: 0;
    width: 100%;
}
.row {
    display: block;
    width: 100%;
    border-bottom: 2px solid #211c16;
    margin: 0;
}

.container {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-sub {
    width: 98%;
    align-items: normal;
}

.container-network {
    padding: 20px 0px;
    flex-direction: row;
    justify-content: flex-start;
}

.container-nav {
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    margin-bottom: .5em;
}

.container-nav-logo {
    width: 80%;
}

.container-dropdown {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;

}

.container-nav {
    flex-direction: column;
    align-items: center;
}

.container-nav-list {
    width: 100%;
}

.container-checkmark {
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.container-slideShow {
    position: relative;
}

.container-slides {
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: center;
}

.logo-network {
    width: 24px;
    height: 24px;
    margin-right: 2px;
}


li {
    list-style: none;
    padding: 10px 0;
    border-top: 2px solid #d9d9d9;
    padding-left: 20px;
    font-weight: bold;
    font-size: 15px;
}

ul {
    padding: 0;
}

.text--color-red {
    color: #d43a32;
}

.background--color-blue {
    background-color: #ccffff;
}

.background--color-purple {
    background-color: #9a99ff;
}

.triangle {
    display: block;
    width: 0;
    height: 0;
    margin-right: 4%;
}

.triangle--down {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-top: 10px solid black;
}

a {
    color: black;
    text-decoration: none;
}

.dropdown {
    padding-bottom: 0;
}

.dropdown-content {
    display: none;
    width: 100%;
    background-color: #cccccc;

}

.dropdown-content li:hover {
    background-color: #f5f5f5;
    color: #d43a32;
}

.dropdown-content li:hover > a {
    background-color: #f5f5f5;
    color: #d43a32;
}

.slides {
    display: none;
}

img {
    width: 100%;
    height: 100%;
}

.container--radio {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container--radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #8aabab;
    border-radius: 50%;
}

  /* When the radio button is checked, add a blue background */
  .container--radio input:checked ~ .checkmark {
    background-color: #8aabab;
  }

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container--radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container--radio .checkmark:after {
    top: 4px;
    left: 4.5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #d93e39;
}


.arrow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	position: absolute;
	width: 100%;
}

.arrow i{
	background-color: rgba(0, 0, 0, .25);
	color: white;
    cursor: pointer;
    width: 25px;
	height: 30px;
	padding: 15px;
	border-radius: 50%;
	transition: background-color .5s, color .5s;
	margin: 0 10px;
	text-align: center;
}

.arrow i:first-of-type{ 
	padding-right: 20px;
}

.arrow i:last-of-type{ 
	padding-left: 20px;
}

.arrow i:hover{
	background-color: rgba(0,0,0, .75);
	color: #EEEFF7;
}

@media screen and (min-width: 400px) {
    .container-sub {
        width: 70%;
    }
    .container-nav-logo {
        width: 238px;
        height: 100%;
    }
}

@media screen and (min-width: 750px) {
    .container-sub {
        width: 90%;
    }
    .container-nav {
        align-items: normal;
    }
    .container-nav-list {
    	display: flex;
        flex-direction: row;
    }
    .container-nav-list > li {
    	border: none;
    }

    .container-nav-list > li:first-of-type {
    	padding-left: 0;
    }
}
@media screen and (min-width: 1200px) {
    .container-sub {
        width: 50%;
    }

    .container-nav {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1.7em;
        margin-bottom: 1.7em;
    }

    .list--nav-width {
        width: auto;
    }
}